footer {
  padding: .75rem;
  background-color: #f77;
  color: #ffe5e5;
  margin-top: 1.5rem;
  
  .footer-container {
    padding: .75rem;
    text-align: center;
    
    a {
      color: #ffe5e5;
    }
  }
}